.navbar {
  background-color: var(--color-1);
  color: var(--color-5);
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  

  .logo{
    margin: auto 10vw;


    img{
      width: 120px;
    }
  }

  .nav_content {
    display: flex;
    height: 100%;

    .pages {
      ul {
        display: flex;
        height: 100%;

        li {
          height: 97%;
          padding: 0 1.5rem ;
          margin: 0 3px;
          display: flex;
          align-items: center;
          color: var(--color-5);
          &:hover {
            border-bottom: 3px solid var(--color-2);
            color: var(--color-2);
          }
        }
        .nav-active {
          li{
            border-bottom: 3px solid var(--color-2);
            color: var(--color-2);
          }
        }

        
      }
    }

    .search {
      display: flex;
      align-items: center;

      span {
        margin: auto 2rem;
        color: var(--color-2);
        font-size: larger;
      }
    }
  }
}