:root{
  --color-1: #28098D;
  --color-2: #D410DD;
  --color-3: #791CF8;
  --color-4: #B37CFF;
  --color-5: #FFFFFF;
  --color-6: #EFEFEF;

  --padding-top-navbar: 100px;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}